@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo!!!</h1>
    <p>Óla, esse aqui em um projetinho de CRUD e MVC em C# que pode ser acessada no </p> <a
        href="https://github.com/DanielMacario"> GitHub</a>, onde álem desse projeto a varios outros tambem em ASP.NET
    Core.
    </p>
</div>
